{
    "printWidth": 80,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[a-z]", "^@mui/(.*)$", "^\\..*"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
